.row-fluid
    #column-list.span4.column
        table.table.table-striped
          tbody
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
            tr
              td
                p
                  | dude@gmail.com
                  i(style='color: lightgray;') on monday 15/07
                p Hey man, wassssssup ? Seen those pics ?
              td
                a.btn.btn-mini(href='view_mail_list_vertical_mail.html')
        .btn-group.pull-left
          a.btn.btn-primary(href='')
            i.icon-plus
            | Load 25 older messages
      //
        /span
      #column-mails.span8.column
        p.well yoyoyy