#no-mails-message.well
    h3 
      | Hey !
    p
      | It looks like there are no mails to show.
    p
      | If you're here for the first time, just click 
      a(href="#config-mailboxes") add/modify 
      | from the menu.
    p
      | If You just did it, and still see no messages, you may need to wait for us to download them for you.
      | Enjoy  :)
#button_get_new_mails
table.table.table-striped
  tbody#mails_list_container
#button_load_more_mails
