ul.nav.nav-list
  li#inboxbutton.menu_option
    a(href='#inbox')
      img(src="img/icon-mails.png")

  li#mailboxesbutton.menu_option
    a(href='#config/mailboxes')
      img(src="img/icon-config.png")
