a(href='#rainbow').menu-option#rainbow-button
  img(src="img/icon-mails.png")

a(href='#config/mailboxes').menu-option#config-button
  img(src="img/icon-config.png")

.right
  a#refresh-btn.btn.btn-primary
      img(src="img/refresh.png")
