// ###
//   @file: main.styl
//   @author: Mikolaj Pawlikowski (mikolaj@pawlikowski.pl/seeker89@github)
//   @description:
//     The application-wide styling.
// ###

@import 'nib'

blue = #34A6FF
lightblue = #CBE4FB
green = #5C5
orange = #fe8800
lightorange = #FFC47F
darkgrey = #333
lightgrey = #CCC
grey = #AAA


@font-face
    font-family: styled
    src: url('/fonts/maven-pro-light-300.otf');

@font-face
    font-family: main
    src: url('/fonts/signika-regular.ttf');

::selection
  background: orange
::-moz-selection
  background: orange

html
  // overflow: hidden
  box-sizing: border-box
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  overflow: hidden
  font-family: main
  box-sizing: border-box

legend
    font-family: styled

fieldset
    font-weight: normal

.sidebar-nav
    padding: 9px 0

iframe
    border: 0px
    // -top-width: 0px
    // border-right-width: 0px
    // border-bottom-width: 0px
    // border-left-width: 0px
    width: 100%
    overflow-y: hidden

textarea#html
    width: 100%

blockquote
    border-left: 5px gray solid
    margin-left: 15px
    padding-left: 10px

.column
    height: 770px
    overflow: auto

.btn
    border: 1px solid blue
    background: blue
    color: white
    box-shadow: none
    text-shadow: none
    border-radius: 0
    font-family: main
    font-weight: bold

.btn:hover
    background: orange
    color: white
    border-color: orange
    text-shadow: none

.row-fluid
    overflow: hidden
    margin: 0
    padding: 0

#content
    overflow: hidden
    margin: 0
    padding: 0

#message_box
    position: absolute
    top: 15px
    right: 15px
    z-index: 9

#newmailbutton
#sentbutton
    display: none

.nav
    li
        .active
            a
                background: blue + 50%
        a
            color: darkgrey

        a:hover
            background: lightorange
            color: darkgrey

.well
    background: white
    box-shadow: none
    border: 0

.form-actions
    background: transparent

.save_mailbox
    margin-right: 5px

.container-fluid
    padding: 0
    margin: 0
    overflow: hidden

.mail-panel
    margin-top: 10px
    border: 1px solid lightgrey
    box-shadow: 1px 1px 2px #DDDDDD
    border-radius: 1px

    h3
        margin-top: 20px
        font-family: styled
        font-size: 22px

#mail_content_html
    margin: 0
    padding: 0

.date
    margin: 0
    padding: 0
    margin-left: 10px
    color: grey


#mail
    position absolute
    top 0px
    left 45%
    bottom 0px
    width 55%
    box-sizing border-box
    padding 20px
    background-image: url('../img/background-mail.jpg')
    overflow hidden
    box-shadow: 6px 0px 3px -2px lightblue inset

    h3.attachments-title
        font-family: styled
        font-size: 14px

    a
        margin-right 5px
    i
        margin-right: 5px

    .attachments-box
        border: 1px solid lightgrey
        box-shadow: 1px 1px 2px #DDDDDD
        border-radius: 1px
        padding: 20px
        background: white

    #attachments_list
        margin: 0


#mails_list
    position absolute
    top 0px
    left 5%
    bottom 0px
    width 40%
    margin-left: 0
    z-index 3
    padding: 0 0px

    #topbar
        padding 10px

        .btn
            margin-right 10px

        #folders-menu
            float right
            a, .dropdown-menu
                border-radius 0px !important



    tr:hover
        background: lightorange

        td
            background: lightorange

    tr.active
        background: lightblue

        td
            background: lightblue

    td.toggleflag
        cursor pointer
        line-height 3em
        padding 5px

        i
            margin auto

    i.date
        color: grey
        margin-right: 10px
        font-weight normal

    p.subject
        font-family: styled
        font-size: 16px

    #no-mails-message
        padding-top: 0px

    #add_more_mails
    #get_new_mails
        margin: 10px
        border-radius: 0px

    #no-mails-message
        margin-top: 20px

    .icon-star
        margin-right 10px

    h4
        font-weight normal

.mailslist-element .unread
    h4
        font-weight bold
    .subject
        font-weight bold




#menu_container
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 5%
    box-sizing border-box
    background: #F5F5F5
    border-right: 1px solid lightgrey
    border-bottom: 1px solid lightgrey
    padding 19px
    padding-right 0px

    .nav-list li a
        padding 0px

    .active
        a
            background: lightblue
            color: darkgrey
            text-shadow: none
    a
        cursor: pointer


#mailboxes
    position absolute
    top 0px
    left 5%
    bottom 0px
    width 40%
    z-index 3

    #no-mailbox-msg
        margin: 20px

    #add_mailbox
        margin: 10px
        margin-top: 10px

    .mailbox_well
        border-bottom: 1px solid lightgrey
        border-radius: 0
        margin-bottom: 0
        font-family: styled

        h3
            display inline-block
            margin-left 10px
            width 30%

        span
            font-family: main
            color: grey

        .edit-mailbox
            margin-left: 20px
            margin-right: 5px
            float right

        .delete-mailbox
            float right

        .mailbox-status
            margin-left: 10px
            font-weight: normal
            font-size: 14px
    .mailbox_well.active
        background-color lightblue
        .edit-mailbox
            visibility hidden

#mailbox-form
    position absolute
    overflow hidden
    box-sizing border-box
    top 0px
    left 45%
    bottom 0px
    width 55%
    padding 20px
    box-shadow: 6px 0px 3px -2px lightblue inset

    input
        border: 1px solid lightgrey
        box-shadow: 0
        border-radius: 0px
        shadow: none
        font-family: styled, helvetica

    input:hover
        border: 1px solid orange
        border-radius: 0px
        shadow: inset 1px 1px 2px rgba(100, 100, 100, 0.1)
        color: #333

    input:focus
    input:active
        border: 1px solid blue
        box-shadow: none

    .controls p
        font-size: 11px