p
  strong #{model.get('name')}
  | : 
  i "#{model.get('SMTP_send_as')}" 
  i last check at #{model.IMAPLastFetchedDate()} 
  a.edit_mailbox.isntEdit.btn Edit
  a.delete_mailbox.isntEdit.btn.btn-danger Delete
  if model.get("status")
    p
      i  status: #{model.get('status')}
