form
  strong #{model.name}
  | : 
  i "#{model.SMTP_send_as}" 
  | #{model.login}@#{model.IMAP_server}
  a.edit_mailbox.isntEdit.btn(type='submit') Edit
  a.delete_mailbox.isntEdit.btn.btn-danger(type='submit') Delete
