p
  strong #{model.get('name')}
  | : 
  i "#{model.get('SMTP_send_as')}" 
  i last check at #{model.IMAPLastFetchedDate()} 
  .btn-group
    a.fetch_mails.btn Check for new mail
    a.fetch_mailbox.btn Verify status
    a.edit_mailbox.btn Edit
    a.delete_mailbox.btn.btn-danger Delete
  if model.get("status")
    p
      i  status: #{model.get('status')}
