from.form-horizontal
  fieldset
    legend Access data
    .control-group
      label(for="name").control-label Title
      .controls
        input.content(id="name", type="text", value= model.get("name")).input-xlarge
        p.help-block Name your mailbox to identify it easily.
    .control-group
      label(for="SMTP_send_as").control-label Your address
      .controls
        input.content(id="SMTP_send_as", type="text", value= model.get("SMTP_send_as")).input-xlarge
        p.help-block This adress will be visible to people to whom you send mail.
        p.help-block Like "johny@mnemonic.com" or "Mickey Mouse <mickey@domain.com>".
    .control-group
      label(for="login").control-label Your login
      .controls
        input.content(id="login", type="text", value= model.get("login")).input-xlarge
    .control-group
      label(for="pass").control-label Your password
      .controls
        input.content(id="pass", type="password", value= model.get("pass")).input-xlarge
        p.help-block Login and password you use for this mailbox. It's stored safely, don't worry.
    .control-group
      label(for="pass").control-label Rainbows and unicorns
      .controls
        select.content(id="color", value= model.get("color")).input-xlarge
          option(value="orange") orange
          option(value="blue") blue
          option(value="red") red
          option(value="green") green
          option(value="gold") gold
          option(value="purple") purple
          option(value="pink") pink
          option(value="black") black
          option(value="brown") brown
        p.help-block The color to mark mails from this inbox. Enjoy!

  fieldset
    legend Server data
    .control-group
      label(for="SMTP_server").control-label SMTP host
      .controls
        input.content(id="SMTP_server", type="text", value= model.get("SMTP_server")).input-xlarge
        p.help-block The address of your server. Like smtp.gmail.com
    .control-group
      label(for="SMTP_ssl").control-label SMTP ssl
      .controls
        input.content(id="SMTP_ssl", type="text", value= model.get("SMTP_ssl").toString()).input-xlarge
        p.help-block Everybody wants it, but some servers may not have it. Leave it "true" :)
    .control-group
      label(for="IMAP_server").control-label IMAP host
      .controls
        input.content(id="IMAP_server", type="text", value= model.get("IMAP_server")).input-xlarge
        p.help-block The inbound server address. Say imap.gmail.com ..
    .control-group
      label(for="IMAP_port").control-label IMAP port
      .controls
        input.content(id="IMAP_port", type="text", value= model.get("IMAP_port")).input-xlarge
        p.help-block Usually 993.
    .control-group
      label(for="IMAP_secure").control-label IMAP secure
      .controls
        input.content(id="IMAP_secure", type="text", value= model.get("IMAP_secure").toString()).input-xlarge
        p.help-block Everybody wants it, but some servers may not have it. Leave it "true" :)

  .form-actions
    input.save_mailbox.isEdit.btn.btn-success(type='submit', value="Save")
    a.cancel_edit_mailbox.isEdit.btn.btn-warning() Cancel
  
