from.form-horizontal
  fieldset
    legend Access data
    .control-group
      label(for="name").control-label Title
      .controls
        input.content(id="name", type="text", value= model.get("name")).input-xlarge
        p.help-block Name your mailbox to identify it easily.
    .control-group
      label(for="login").control-label Your login
      .controls
        input.content(id="login", type="text", value= model.get("login")).input-xlarge
    .control-group
      label(for="password").control-label Your password
      .controls
        input.content(id="password", type="password", value=model.get("password")).input-xlarge
        p.help-block Login and password you use for this mailbox. It's stored safely, don't worry.
    .control-group
      label(for="color").control-label Rainbows and unicorns
      .controls
        select.content(id="color", selected=model.get("color")).input-xlarge
          option(value="orange", selected="orange" === model.get("color")) orange
          option(value="blue", selected="blue" === model.get("color")) blue
          option(value="red", selected="red" === model.get("color")) red
          option(value="green", selected="green" === model.get("color")) green
          option(value="gold", selected="gold" === model.get("color")) gold
          option(value="purple", selected="purple" === model.get("color")) purple
          option(value="pink", selected="pink" === model.get("color")) pink
          option(value="black", selected="black" === model.get("color")) black
          option(value="brown", selected="brown" === model.get("color")) brown
        p.help-block The color to mark mails from this inbox. Enjoy!

  fieldset
    legend Server data
    .control-group
      label(for="imapServer").control-label IMAP host
      .controls
        input.content(id="imapServer", type="text", value= model.get("imapServer")).input-xlarge
        p.help-block The inbound server address. Say imap.gmail.com ..
    .control-group
      label(for="imapPort").control-label IMAP port
      .controls
        input.content(id="imapPort", type="text", value= model.get("imapPort")).input-xlarge
        p.help-block Usually 993.

  .form-actions
    button.save_mailbox.isEdit.btn.btn-success save
    button.cancel_edit_mailbox.isEdit.btn.btn-warning() cancel
  fieldset
    legend Administration
    button.delete-mailbox.btn.btn-danger delete
