.modal-header
    h3#confirm-delete-modal-label Warning!
.modal-body
    p.
        You are about to delete a mailbox and all its mails. Do you
        you want to continue?
.modal-footer
    button.yes-button.btn(data-dismiss="modal", aria-hidden="true") Yes
    button.no-button.btn.btn-info(data-dismiss="modal", aria-hidden="true") No
