#topbar
  a#refresh-btn.btn.btn-primary Refresh

#no-mails-message.well
    h3 Hey !
    p It looks like there is no email to show.
    p 
      | To see your emails, you must&nbsp;
      a(href="#config/mailboxes") configure your mailboxes
      | .
    p.
      If you just did it, and still see no emails, you have to wait the import
      finished.

table.table.table-striped
  tbody#mails_list_container

#more-button
    a#add_more_mails.btn.btn-primary.btn-large more messages
