.container-fluid
  .row-fluid
    #sidebar.span2
      .well.sidebar-nav
        ul#menu_container.nav.nav-list
          li.nav-header All your mail
          li.active
            a(href='#')
              | Inbox
              span.badge.badge-warning 8
          li
            a(href='#') Sent
          li
            a(href='#') Drafts
          li
            a(href='#') Bin
          li.divider
          li.nav-header Mailboxes
          li
            a(href='#')
              input(type='checkbox')
              | user@gmail.com
              span.badge.badge-warning 5
          li
            a(href='#')
              input(type='checkbox')
              | yeah@yahoo.com
              span.badge.badge-warning 3
          li
            a(href='#')
              input(type='checkbox')
              | imhot@yahoo.fr
              span.badge.badge-warning.hide 0
          li
            a(href='#')
              | add/modify
          li.divider
          li.nav-header Filters
          li
            a(href='#') Marked
          li
            a(href='#') New
          li
            a(href='#') Today
          li
            a(href='#') Yesterday
    #content.span10
  .row-fluid
    .span12       
      footer
        p © CozyCloud 2012