#message_box
.container-fluid
  .row-fluid
    #sidebar.span2
      #menu_container.well.sidebar-nav
    #content

div#confirm-delete-modal.modal.hide.fade.in(tabindex="-1", role="dialog",
                                            aria-hidden="true")
    div.modal-header
        h3#confirm-delete-modal-label Warning!
    div.modal-body
        p
            | You are about to delete a mailbox and all its mails. Do you
            | you want to continue?
    div.modal-footer
        button.yes-button.btn(data-dismiss="modal", aria-hidden="true") Yes
        button.no-button.btn.btn-info(data-dismiss="modal", aria-hidden="true") No
