form
  | #{model.name}
  | #{model.createdAt}
  | #{model.SMTP_server}
  a.edit_mailbox.isntEdit.btn(type='submit') Edit
  a.save_mailbox.isEdit.btn(type='submit') Save
  a.delete_mailbox.isEdit.btn(type='submit') Delete
