input.content(id="name", value="#{model.name}")
input.content(id="createdAt", value="#{model.createdAt}")
input.content(id="SMTP_server", value="#{model.SMTP_server}")
input.save_mailbox.isEdit.btn.btn-success(type='submit', value="Save")
a.cancel_edit_mailbox.isEdit.btn.btn-warning() Cancel
