ul.nav.nav-list
  li.nav-header All your mail
  li#newmailbutton.menu_option
    a(href='#new-mail')
      | Compose a new mail
  li#inboxbutton.menu_option
    a(href='#inbox')
      | Inbox 
  li#sentbutton.menu_option
    a(href='#sent')
      | Sent
  li.divider
  li.nav-header Mailboxes
ul#menu_mailboxes.nav.nav-list
ul.nav.nav-list
  li#mailboxesbutton.menu_option
    a(href='#config-mailboxes')
      | add/modify
