ul.nav.nav-list
  li.nav-header All your mail
  li.active
    a(href='#')
      | Inbox
      span.badge.badge-warning 8
  li
    a(href='#') Sent
  li
    a(href='#') Drafts
  li
    a(href='#') Bin
  li.divider
  li.nav-header Mailboxes
ul#menu_mailboxes.nav.nav-list
ul.nav.nav-list
  li
    a(href='#config-mailboxes')
      | add/modify
  li.divider
  li.nav-header Filters
  li
    a(href='#') Marked
  li
    a(href='#') New
  li
    a(href='#') Today
  li
    a(href='#') Yesterday