ul.nav.nav-list
  li.nav-header All your mail
  li#newmailbutton.menu_option
    a(href='#new-mail')
      | Compose a new mail
  li#inboxbutton.menu_option
    a(href='#')
      | Inbox 
      //- i.icon-refresh
  //- li
  //-   a(href='#') Sent
  //- li
  //-   a(href='#') Drafts
  //- li
  //-   a(href='#') Bin
  li.divider
  li.nav-header Mailboxes
ul#menu_mailboxes.nav.nav-list
ul.nav.nav-list
  li#mailboxesbutton
    a(href='#config-mailboxes')
      | add/modify
  // a#check_new_mail_button()
  //    | check for new mail
  //- li.divider
  //- li.nav-header Filters
  //- li
  //-   a(href='#') Marked
  //- li
  //-   a(href='#') New
  //- li
  //-   a(href='#') Today
  //- li
  //-   a(href='#') Yesterday